name: ding_shi_ren_wu
on:
  # schedule:
  #   #   每天早上六点，在这一个小时内每5分钟触发一次
  #   - cron: '0/5 22-23 * * *'


    # 每天每小时，第0分钟开始，每五分钟运行一次，测试用
    #    - cron: '0/5 * * * *'


  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python 3.11
        uses: actions/setup-python@v3
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          pip install httpx
          pip install loguru
          pip install lxml

      - name: Run Reserve
        run: python reserve.py
